
.doconaut_H1 {
  margin: 0;
}

.doconaut_H2 {
  margin-left: 0.5rem;
}

.doconaut_H3 {
  margin-left: 1rem;
}

.doconaut_H4 {
  margin-left: 1.5rem;
}

.doconaut_H5 {
  margin-left: 2rem;
}

.doconaut_H6 {
  margin-left: 2.5rem;
}

.doconaut_fixed {
  position: fixed;
}

code {
  display: block;
  border: 1px solid black;
  padding: 2rem;
}

.doconaut_image {
  display: inline-block;
  padding-bottom: 1.5em;
  position: relative;
}

.doconaut_image span,
.doconaut_table span,
.doconaut_table span {
  position: absolute;
  bottom: 0.5em;
  left: 0px;
}

.doconaut_table {
  display: table;
  padding-bottom: 1.5em;
  position: relative;
}

.doconaut_letter {

}
.doconaut_letter > span {
  border: 1px solid;
  padding: 0.5rem;
  display: inline-block;

}

.doconaut_letterSection {
  padding: 0 0 1.5rem 0;
}

.glossentry {
  margin: 0.5rem 0;
}

.doconaut_entrybox {

}