@media print {
  @page {

  }

  h1, h2, h3, h4, h5 {
    page-break-after: avoid;
  }

  table, figure {
    page-break-inside: avoid;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  div {
    float: inherit !important;
    width: inherit !important;
  }
li {
  list-style: none;
}

  .doconaut_H1 {
    margin: 0;
  }

  .doconaut_H2 {
    margin-left: 0.5rem;
  }

  .doconaut_H3 {
    margin-left: 1rem;
  }

  .doconaut_H4 {
    margin-left: 1.5rem;
  }

  .doconaut_H5 {
    margin-left: 2rem;
  }

  .doconaut_H6 {
    margin-left: 2.5rem;
  }

  .doconaut_fixed {
    position: static !important;
  }

  .doconaut_menu {
    page-break-after: always;
    position: static !important;
  }

  .doconaut_menu h2 {
    display: block !important;
  }

  .doconaut_appendix {
    page-break-before: always;
  }

  .doconaut_image {
    display: inline-block !important;
    padding-bottom: 1.5em;
    position: relative;

  }

  .doconaut_image span {
    position: absolute;
    bottom: 0.5em;
    left: 0px;
  }

  .doconaut_table {
    display: table !important;;
    padding-bottom: 1.5em;
    position: relative;
  }

  .doconaut_table span {
    position: absolute;
    bottom: 0.5em;
    left: 2px;
  }

  img {
    position: relative;
  }

  img {
    page-break-inside: auto; /* or 'auto' */
  }

  .doconaut_letterSection {

  }

  .doconaut_glossentry div {

  }
}
