@media print {
  @page  {

  }

  h1, h2, h3, h4, h5 {
    page-break-after: avoid;
  }
  table, figure {
    page-break-inside: avoid;
  }

  div {
    float: none !important;
    width: 100% !important;
  }

  .doconaut_fixed {
    position: static !important;
  }

  .doconaut_menu {
    page-break-after: always;
    position: static !important;
  }

  .doconaut_menu h2 {
    display:block !important;
  }

  .doconaut_appendix {
    page-break-before: always;
  }

  .doconaut_image {
    display: inline-block !important;
    padding-bottom: 1.5em;
    position: relative;
  }

  .doconaut_image span {
    position: absolute;
    bottom: 0.5em;
    left: 0px;
  }

  .doconaut_table {
    display: table !important;;
    padding-bottom: 1.5em;
    position: relative;
  }

  .doconaut_table span {
    position: absolute;
    bottom: 0.5em;
    left: 2px;
  }
  img {
    position: relative;
  }
  img {
    page-break-inside: auto; /* or 'auto' */
  }
  .doconaut_letterSection {

  }

  .doconaut_glossentry div {

  }
}
